<div class="comment_form_div">

  <%= render "layouts/errors", :object => @comment %>

  <%= form_for [@post, @comment], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, :class => 'form-control' %>
  </div>
    <%= f.submit 'Comment', :class => 'btn btn-xs btn-warning' %>
  <% end %>
</div>
