<h1><%= @post.title %></h1>
<p>
  <%= Time.at(@post.created_at).to_date %>
  <% if current_user == @post.user %>
    | <%= link_to 'revise post', edit_post_path(@post) %>
  <% end %>
</p>

<p> <%= @post.content %> </p>
<h5>
  - <%= @post.user.name %>
</h5>
<hr>
<ul>
  <lh> <%= @comments.length %> comments:</lh>
   <% @comments.each do |comment| %>
    <li>
      "<%= comment.content %>" <i>-<%= comment.user.name %></i>
      <% if comment.user == current_user %>
         <%= link_to 'edit', edit_post_comment_path(@post, comment) %>
       <% end %>
    </li>
   <% end %>
</ul>
<% if current_user %>
  <p> <%= link_to 'Leave a comment', new_post_comment_path(@post) %> </p>
<% end %>
