<h1><%= @post.title %></h1>
<p>
  <span class='gray'><%= Time.at(@post.created_at).to_date %></span>
  <% if current_user == @post.user %>
    | <%= link_to 'revise post', edit_post_path(@post) %>
  <% end %>
</p>

<p> <%= @post.content %> </p>
<h5>
  - <%= link_to @post.user.name, user_path(@post.user), class: 'gray' %>
</h5>
<hr>
<div class="comments">
  <ul class="comment_list">
     <lh> <%= @comments.length %> comments</lh>
     <%= render @comments %>
  </ul>
  <% if current_user %>
    <p> <%= link_to 'Leave a comment', new_post_comment_path(@post), remote: true, id: "comment_btn" %> </p>
  <% end %>
</div>
