<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2 sidebar">
        <ul>
          <li> <%= link_to 'Read, and maybe weep', posts_path %> </li>
          <li> <%= link_to 'Express yourself', new_post_path %> </li>
        </ul>
        <% if flash[:notice] || flash[:alert] %>
          <div class="alert">
            <%= flash[:notice] %>
            <%= flash[:alert] %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
